@font-face {
  font-weight: normal;
  font-family: "DINPro";
  src: url(../fonts/DINPro.woff) format('woff');
}

@font-face {
  font-weight: bold;
  font-family: "DINPro";
  src: url(../fonts/DINPro-Bold.woff) format('woff');
}

@font-face {
  font-weight: normal;
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.woff2) format('woff2');
}

html {
  font: normal 19px/1.5 "Gilroy", sans-serif;

  background: rgb(209, 231, 238);
}

header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 200px;
  margin: 0;

  text-align: center;
  
  background: center url('../img/background.jpg');
}

h1 {
  color: #fff;
  font-size: 35px;
  letter-spacing: 0.05em;

  margin-bottom: 5px;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.sr-only {
  position: absolute;
  
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;

  white-space: nowrap;
}

.input-box {
  margin: 0 15px 15px;
}

.search-input {
  width: 200px;
  height: 19px;

  margin-right: 10px;
}

.form-selectors {
  margin: 0 10px;
}

form span {
  color: #fff;
  margin: 0 10px;
}
